[general]
language = {{language}}
{% for setting in iax.config -%}
{% if iax.config[setting] is iterable and iax.config[setting] is not string -%}
{% for value in iax.config[setting] -%}
{{setting}} = {{value}}
{% endfor -%}
{% else -%}
{{setting}} = {{iax.config[setting]}}
{% endif -%}
{% endfor -%}

{% for registration in iax.registrations -%}
register => {{registration.user}}:{{registration.password}}@{{registration.host}}
{% endfor -%}

{% for peer in iax.peers %}
[{{peer.name}}]
{% for setting in peer -%}
{% if setting != "name" -%}
{% if peer[setting] is iterable and peer[setting] is not string -%}
{% for value in peer[setting] -%}
{{setting}} = {{value}}
{% endfor -%}
{% else -%}
{{setting}} = {{peer[setting]}}
{% endif -%}
{% endif -%}
{% endfor -%}
{% endfor -%}