[udp_transport]
type = transport
protocol = udp
bind = 0.0.0.0
[udp6_transport]
type = transport
protocol = udp
bind = ::

{% for peer in sip_peers -%}
{% if peer.name is defined %}
[{{ peer.name }}]
	type=endpoint
	context={{ peer.context if peer.context is defined else 'phones' }}
	{% if peer.cid is defined %}callerid={{ peer.cid }}
	{% endif %}disallow=all
	allow={{ peer.codecs }}
	aors={{ peer.name }}
	{% if peer.register is defined and peer.register %}outbound_auth={{ peer.name }}_auth
	outbound_proxy=sip:{{ peer.outboundproxy }}{{ ":"+peer.port if peer.port is defined else '' }}\;lr
	direct_media=no
	100rel=yes
	{% if peer.fromuser is defined %}from_user={{ peer.fromuser | regex_replace("\n","") }}
	{% endif %}{% if peer.fromdomain is defined %}from_domain={{ peer.fromdomain }}
	{% endif %}
	{% else %}
	auth={{ peer.name }}_auth
	language = {{language}}
{% endif %}
[{{ peer.name }}]
	type=aor
	qualify_frequency=25
	{% if peer.register is defined and peer.register %}contact=sip:{{ peer.host }}
	outbound_proxy=sip:{{ peer.outboundproxy }}{{ ":"+peer.port if peer.port is defined else '' }}\;lr
	{% else %}max_contacts={{ peer.max_contacts if peer.max_contacts is defined else '1' }}
{% endif %}[{{ peer.name }}_auth]
	type=auth
	password={{ peer.password | regex_replace("\n","") }}
	{% if peer.register is defined and peer.register %}auth_type=userpass
	username={{ peer.fromuser | regex_replace("\n","") }}
	{% if peer.realm is defined %}realm={{ peer.realm }}
	{% endif %}
	{% else %}username={{ peer.name }}
	{% endif %}
{% if peer.register is defined and peer.register %}[{{ peer.name }}_reg]
	type=registration
	endpoint={{ peer.name }}
	transport=udp_transport
	outbound_auth={{ peer.name }}_auth
	server_uri=sip:{{ peer.host }}
	client_uri=sip:{{ peer.fromuser | regex_replace("\n","") }}@{{ peer.fromdomain if peer.fromdomain is defined else peer.host }}
	outbound_proxy=sip:{{ peer.outboundproxy }}{{ ":"+peer.port if peer.port is defined else '' }}\;lr
	contact_user={{ peer.incoming_exten | regex_replace("\n","") }}
	line=yes
[{{ peer.name }}_id]
	type=identify
	endpoint={{ peer.name }}
	match={{ peer.outboundproxy }}
	srv_lookups=yes
{% endif %}

{% else %}
; not rendered: {{ peer }}
{% endif %}
{% endfor -%}
