[general]

[default]                       ; Default Parking Lot
parkext => {{ parking_lot.start - 1 }}
parkpos => {{ parking_lot.start }}-{{ parking_lot.start + parking_lot.length - 1 }}
context => parkedcalls          ; Which context parked calls and the default park
